{% extends 'base.html' %}


{% block content %}

{% include 'chat-info.html' %}

<br><br>
<div class = "container-fluid text-center">

    <div class = "container w-50 border text-center">
        <br>
        <h3>CREATE CHATROOM</h3>
        <br>
        <form class = "form-control" method="POST">{% csrf_token %}

            <br>

            <div class="row">
                <label class = "col-3">Room Name : </label>
                <div class = "col-8">
                    <input class = "form-control" name = "room" placeholder="Room name" required>
                </div>
            </div>

            <br>
            <a href="/chat/join" style="font-size: 15px;text-decoration: underline;">join someone's chatroom from here</a>
            <br>
            <br>
            <button class = "btn btn-success">Create</button>

        </form>

    </div>

</div>


{% endblock content %}